.container
  display: flex
  flex-direction: row
  flex-wrap: wrap

  .item
    border-radius: 5px
    margin: 10px
    padding: 10px
    display: flex
    flex-direction: column
    max-width: 420px
    max-height: min-content
    color: #f4f4f4
    background-image: linear-gradient(to top right, rgb(101, 115, 255), rgb(111, 114, 247), rgb(120, 114, 239), rgb(130, 113, 231), rgb(139, 112, 223), rgb(149, 111, 215), rgb(158, 111, 208), rgb(168, 110, 200), rgb(177, 109, 192), rgb(187, 108, 184), rgb(196, 108, 176), rgb(206, 107, 168))

    span
      padding: 10px 0
      text-overflow: clip
      span
        color: black

    a
      margin-top: 10px
      color: aquamarine

